@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #12181a;
  --text: #e9e5da;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'IBM Plex Sans', sans-serif;
}
