@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #12181a !important; /* Forzamos el color */
  background-image: radial-gradient(circle at 1px 1px, rgba(232, 228, 217, 0.05) 1px, transparent 1.6px) !important;
  background-size: 26px 26px !important;
  color: #e9e5da;
  font-family: sans-serif;
}
